* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--color-primary);
}



html.debug * {
  outline: 1px solid red;
}

body {
  box-sizing: border-box;
}

:root {
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-success: #198754;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #0dcaf0;
  --color-light: #f8f9fa;
  --color-dark: #212529;
  
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-success: #ffffff;
  --color-on-danger: #ffffff;
  --color-on-warning: #212529;
  --color-on-info: #212529;
  --color-on-light: #212529;
  --color-on-dark: #ffffff;
  
  --text-color: #212529;
  --text-muted: #6c757d;
  --text-hover: #0d6efd;
  
  --bg-color: #ffffff;
  --bg-muted: #f8f9fa;
  
  
  --color-primary-50: #d6e4ff;
  --color-secondary-50: #e2e3e5;
  --color-success-50: #d1e7dd;
  --color-danger-50: #f8d7da;
  --color-warning-50: #fff3cd;
  --color-info-50: #cff4fc;
  --color-light-50: #fefefe;
  --color-dark-50: #d3d3d4;
  
  --main-color: var(--text-color);
  --main-bg: var(--bg-color);
  --main-hover-color: rgba(0, 0, 0, 0.05);
  
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 5836px;
}