.accordion {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
}

.accordion-item {
  --accordion-item-header-bg: var(--color-primary-50);
  --accordion-item-header-color: var(--color-primary);
  --accordion-item-body-bg: var(--main-bg);
  --accordion-item-body-color: var(--main-color);
}

.accordion-item + .accordion-item {
  border-top: 1px solid var(--border-color, #ddd);
}

.accordion-header {
  background: var(--accordion-item-header-bg);
  color: var(--accordion-item-header-color);
  padding: 1rem;
  text-align: left;
  width: 100%;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.accordion-icon{
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  background: var(--accordion-item-body-bg);
  color: var(--accordion-item-body-color);
  transition: max-height 0.3s ease;
  padding: 0 1rem;
}

.accordion-item.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion-item.active .accordion-body {
  max-height: 500px;
  padding: 1rem;
}