.modal {
  display: flex;
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  overscroll-behavior: contain;
}

.modal.show {
  visibility: visible;
}

.modal-content {
  --modal-bg: #fff;
  --modal-color: #111;
  --modal-radius: 0.75rem;
  
  display: flex;
  flex-flow: column;
  background: var(--modal-bg);
  color: var(--modal-color);
  border-radius: var(--modal-radius);
  max-width: 90%;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: scale(0.85);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.3s ease;
  will-change: transform, opacity;
  
  overflow-y: auto;
  max-height: 90vh;
  -webkit-overflow-scrolling: touch;
}

.modal.show .modal-content {
  transform: scale(1);
  opacity: 1;
}

.modal-content.hiding {
  transform: scale(0.85);
  opacity: 0;
}

body.modal-open {
  overflow: hidden;
  touch-action: none;
}

.modal-header {
  padding: 0.6rem;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.modal-title {
  font-size: 20px;
}


.modal-header .modal-close {
  margin-left: auto;
}


.modal-body {
  padding: 1.5rem;
  overflow-y: auto;
  flex-grow: 1;
}

.modal-footer {
  padding: 0.6rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  flex-shrink: 0;
}