.toast-container {
  position: fixed;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  pointer-events: none;
}

.toast-top-left {
  top: 1rem;
  left: 1rem;
  align-items: flex-start;
}

.toast-top-center {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.toast-top-right {
  top: 1rem;
  right: 1rem;
  align-items: flex-end;
}

.toast-bottom-left {
  bottom: 1rem;
  left: 1rem;
  align-items: flex-start;
}

.toast-bottom-center {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.toast-bottom-right {
  bottom: 1rem;
  right: 1rem;
  align-items: flex-end;
}

.toast {
  --toast-bg: var(--main-bg);
  --toast-color: var(--main-color);
  --toast-radius: 0.5rem;

  background-color: var(--toast-bg);
  color: var(--toast-color);
  border-radius: var(--toast-radius);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  padding: 0.75rem 1rem;
  min-width: 200px;
  max-width: 300px;
  font-size: 0.875rem;
  animation: toast-in 0.3s ease forwards;
  pointer-events: auto;
  display: none;
}

.toast.show{
  display: block;
}

.toast.hide {
  animation: toast-out 0.3s ease forwards;
}

.toast-primary {
  --toast-bg: var(--color-primary-50);
  --toast-color: var(--color-primary);
}

.toast-secondary {
  --toast-bg: var(--color-secondary-50);
  --toast-color: var(--color-secondary);
}

.toast-success {
  --toast-bg: var(--color-success-50);
  --toast-color: var(--color-success);
}

.toast-danger {
  --toast-bg: var(--color-danger-50);
  --toast-color: var(--color-danger);
}

.toast-warning {
  --toast-bg: var(--color-warning-50);
  --toast-color: var(--color-warning);
}

.toast-info {
  --toast-bg: var(--color-info-50);
  --toast-color: var(--color-info);
}

.toast-dark {
  --toast-bg: var(--color-dark-50);
  --toast-color: var(--color-dark);
}


@keyframes toast-in {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}